<a href="https://colab.research.google.com/github/Judirale13/Algoritmos-2022-1/blob/main/jramirezle_lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Parte 1

In [ ]:
string1 = 'Hola' 
string2 = 'Mundo'
#Se declaran nuestras cadenas de texto las cuales identificamos por estas dentro de comillas "llamadas string1 y string2"
print(string1 + ' ' + string2)
#Realizamos el print incluyendo el metodo de suma , en este caso se suman las cadenas de texto declaradas en la parte superior

Hola Mundo

In [ ]:
int = 10
#En caso de declarar enteros debemos aclarar el tipo de dato haciendo uso del 'int'
print(int)
print(type(int))
#corroboramos el tipo de variable instanceada en este caso entero

10
<class 'int'>

In [ ]:
astring = "1"
#declaramos un string y corroboramos el tipo de dato haciendo uso del 'type'

my_int = int(astring)
#hacemos uso del 'int' para indicar que queremos que cambie del tipo actual de dato a ser un entero y lo corroboramos con el 'type' que si sea un dato tipo entero
print(type(my_int))

<class 'int'>

In [ ]:
string = "100"

float_ = float(string)

print(type(float_))
#Declaramos una cadena y luego la convertimos a tipo flotante(float) y verificamos en el print que la conversion se realizo de manera correcta

<class 'float'>

In [ ]:
bool_ = False
print(bool_)
print(type(bool_))
#declaramos una variable tipo booleano ,la imprimimos y verificamos que efectivamente sea un booleano (true o false)

False
<class 'bool'>

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)
#vemos las operaciones basicas que podemos realizar con sus respectivos operadores

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [ ]:
print(1/3)
print(1.0/3)
#Notamos que no existe diferencia entre operar int/int con float/int ni en su formato ni es su resultado

0.3333333333333333
0.3333333333333333

In [ ]:
list = ['Hola', 'dos', 155,3,1.2]
#notamos que la manera de declarar una lista en en corchetes '[]' y que pueden almacenar cualquier tipo de dato separado por comas. 
print(list)

['Hola', 'dos', 155, 3, 1.2]

In [ ]:
my_list = ['Hola', 'dos', 155,3,1.2]
print(len(my_list))
#Utilizamos el metodo 'len' con el fin de conocer el tamaño de nuestra lista
print(my_list[0])
#utilizamos el nombre de nuestra lista seguida por [] para conocer que dato se encuentra en esta ubicación 
print(my_list[len(my_list) -1])
#este metodo es utilizado para conocer el ultimo dato de una lista , debido a que siempre el conteo de posiciones empieza desde 0

5
Hola
1.2

In [ ]:
my_list = ['Hola', 'dos', 155,3,1.2]
my_list[2] = 'f'
#por medio de este metodo lo que realizamos es reemplazar el dato ubicado en la POSICION especificada ,eliminando el antiguo dato(en este caso elimino 155 y añadio 'f').
print(my_list)

['Hola', 'dos', 'f', 3, 1.2]

In [ ]:
my_list = ['Hola', 'dos', 155,3,1.2]
print(my_list[1:3])
#por medio del fomato [#:#] se especifica desde la posicion inicial que se desea imprimir hasta la posicion que se desea imprimir
print(my_list[1:])
#si esta vacio el segundo parametro [#:] se asume que se imprimira desde la posicion indicada hasta el final de la lista
print(my_list[:3])
#si esta vacio en primer parametro [:#] se asume que se imprime desde el primer dato hasta el dato especificado en la lista

['dos', 155]
['dos', 155, 3, 1.2]
['Hola', 'dos', 155]

In [ ]:
my_list = ['Hola', 'Mundo']
my_list.append('Cruel')
#Con el metodo '.append' llamamos el metodo que agrega un elemento a la lista e ingresa como ultimo dato de esta.
print(my_list)
my_list.remove('Hola')
#con el metodo '.remove' eliminamos el valor especificado dentro del metodo
print(my_list)

['Hola', 'Mundo', 'Cruel']
['Mundo', 'Cruel']

In [ ]:
tuple_ = ('Hola','cruel','mundo')
print(tuple_[1:])
#Al igual que las listas las tuplas reconocen en que posicion se encuentran los elementos de esta por lo cual en este caso imprime los valores de la posicion 1 al final "recordar que se empieza desde 0 el conteo de las posiciones"

('cruel', 'mundo')

In [ ]:
_list = ['a','b','c','b','c','a','d','a']
_set = set(_list)
#el metodo 'set' se encarga de eliminar los datos que esten repetidos en el arreglo y los guarda sin duplicados de manera desorganizada.
print(_set)

{'b', 'd', 'a', 'c'}

In [ ]:
my_dic = {'house':'casa', 'dog':'perro', 'cat':'gato'}
#los diccionarios funcionan con una llave la cual almacena de uno a mas datos y la manera correcta de llamar esta informacion es (nombre_diccionario[nombre_llave])
print(my_dic['house'])

casa

In [ ]:
_str = 'Hola mundo cruel'
print(_str[5:])
#en el caso de las cadenas no se distinguen en elementos si no en posiciones de cada dato RECORDAR QUE LAS POSICIONES SE CUENTAN DESDE 0.

mundo cruel

In [ ]:
print('Hola mundo cruel'.count('o'))
print('Hola mundo cruel'.find('d'))
print('Hola mundo cruel'.replace('u','o'))
#estos metodos de las cadenas nos permite contar, encontrar, reemplazar gracias a que las cadenas estan estructuradas caracter a caracter

2
8
Hola mondo croel

Parte 2

In [ ]:
#En las operaciones logicas encontramos una serie de comparaciones como se nombraran mas adelante y la salida sera un booleano aclarando si la comparacion realizada es verdadera o falsa
print(154 == 44) #igualdad
print(55 == 55)
print(1 != 1) #diferente a
print(52 >= 54) #mayor o igual
print(1 <= 7) #menos igual

False
True
False
False
True

In [ ]:
#en este caso juntamos dos operaciones logicas acompañadas de operadores que unen la operacion
print(1 > 2 and 2 > 3 ) #and es un perados que intersecta // en este caso las dos operaciones deberan ser verdaderas para un true o falso en el resto de los casos
print(1 > 2 and 2 < 3) 
print(2 > 1 or 3 < 2) #or realiza la operacion de union // el resultado de esta operacio  sera falsa si las dos operaciones logicas son falsas en el resto de los casos son verdaderas
print(1 < 2 and 2 < 3)

False
False
True
True

In [ ]:
p = 1 > 0 #declaramos las variables en este caso operaciones logicas que seran TRUE o FALSE // en este caso es verdadero
q = 2 > 3 #declaramos las variables en este caso operaciones logicas que seran TRUE o FALSE // en este caso es falso
if p and q: # el if es un condicional que permite ejecutar alguna instruccion si la o las condiciones propuestas se cumplen
    print('p and q is true')
elif p and not q: #elif es una expresion luego de que el if anterios no se haya ejecutado entra a validar esta nueva condicion
    print('q is false')
elif q and not p:
    print('p is false')
else: #else se ejecuta si las condicionales previamente no se cumplieron 
    print('None of p and q is true')
# en este ejercicio la condicion que si cumplio fue la del "elif p an not q" por lo cual alli imprime el mensaje y acaba el programa

q is false

In [ ]:
i = 0
while i < 10:
    print(i)
    i += 2 
#While es un ciclo que se ejecuta n veces hasta cumplir la condicion que se le establezca

0
2
4
6
8

In [ ]:
for i in ['a','b','c','d']:
    print(i)
#for es un ciclo el cual recorre un arreglo y realiza el procedimiento propuesto dentro del for

a
b
c
d

In [ ]:
cosas = ['casa','arbol','piedra','andres','felipe'] #creamos una lista 
cosas2 = ['casa','felipe']#creammos la segunda lista
new_list = [] #creamos una lista vacia
for i in cosas: #declaramos un for para recorrer la lista cosas
    if i not in cosas2: #verificamos que los elementos de la lista cosas no esten en lista cosas y si esta condicion se cumple que realice el procedimiento planteado
        new_list.append(i) #agrega los datos de la lista cosas en la lista new_list 
print(new_list) #imprimimos new_list para verificar que realice de manera correcta las iteraciones

['arbol', 'piedra', 'andres']

In [ ]:
cosas = ['casa','arbol','piedra','andres','felipe'] # creamos una lista con elementos
for i in cosas:# creamos un for para recorrer la lista
    print(i) #printeamos nuestro elemento de la lista en el que se encuentre el for
    if i == 'piedra': #le pedimos que nos verifique si este es el elemento en el cual se encuentra de la lista
        break #el break nos representa que alli termine de iterar el for y salga de este for // en este caso acaba el programa

In [ ]:
cosas = ['casa','arbol','piedra','andres','felipe'] # creamos una lista con elementos
for i in cosas: # creamos un for para recorrer la lista
    if i == 'piedra': #verificamos que el elemento del ciclo no sea 'piedra' 
      
      continue #permite que el for siga con sus iteraciones 
    print(i)
#en este caso debe imprimir todos los elementos de la lista con excepcion de 'piedra'

casa
arbol
andres
felipe

In [ ]:
list = [1,2,3,4,5]#creamos una lista con los numeros de 1-5
squares = [x//2 for x in list] #creamos una lista por comprension la cual corresponde a crear un metodo dentro de la misma lista para realizar el codigo mas legible y corto
print(squares) #verificamos que realice correctamente el metodo planteado

[0, 1, 1, 2, 2]

In [ ]:
cosas = ['casa','arbol','piedra','andres','felipe'] #creamos una lista 
cosas2 = ['casa','felipe']#creammos la segunda lista
new_list = [x for x in cosas if x in cosas2] #vemos que con ejemplos anteriores ya no hay necesidad de crear una lista vacia ,si no crear el metodo dentro de la misma lista para asi ahorrar lineas de codigo y tener una vision mas clara de nuestro procedimiento
print(new_list)#verificamos que estemos realizando nuestro procedimiento de manera correcta

['casa', 'felipe']

In [ ]:
print([(x, y) for x in [1,3,5] for y in [2,4,5] if x != y]) #por medio de esta lista de comprension realizamos un tipo de matriz con la condicional de que si x = y no se agregue a la lista
print([str(x)+' vs '+str(y) for x in ['casa','arbol','piedra','andres','felipe'] for y in ['casa','felipe'] if x!=y])#unimos los elementos de la lista cada elemento de la primera mlista con el de la segunda lista excepto si ambos elemntos son iguales .

[(1, 2), (1, 4), (1, 5), (3, 2), (3, 4), (3, 5), (5, 2), (5, 4)]
['casa vs felipe', 'arbol vs casa', 'arbol vs felipe', 'piedra vs casa', 'piedra vs felipe', 'andres vs casa', 'andres vs felipe', 'felipe vs casa']

Parte 3

In [ ]:
def product(x,z):# creamos una funcion por medio de la sentencia 'def' y el nombre para la funcion  seguido de los ´parametros que incluiremos en esta // el formato seria el siguiente en este caso 'def nombre_funcion(argumento1 , argumento2)
    return x*z #declaramos el procedimiento que queremos que la funcion haga
print(product(10,1)) # llamamos a la funcion por el nombre que le colocamos y los argumentos con los valores a realizar el procedimiento de la funcion
print(product(10,10))

10
100

In [ ]:
def bienvenida():# por medio de esta funcion vemos que no siempre es necesario instancear parametros dentro de la funcion dependiendo de nuestro objetivo con esta
    print('Hola Mundo') #declaramos el procedimiento que queremos que la funcion haga
bienvenida()#finalmente llamamos la funcion para ejecutarla

Hola Mundo

In [ ]:
print(list(range(5)))
print(list(range(5,11)))
print(list(range(1,10,2)))
#el rango imprime desde 0 es decir si 'range(5)' se debe imprimir 0,1,2,3,4
#por medio del range retornamos una secuencia de numeros donde 'range(x,y,z)' donde x es donde queremos que inicie ,y donde termine y z el incremento de nuestro rango // si solo existe un argumento se sobre entiende que solo se especifica donde termina este rango

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [ ]:
lista = ['casa','arbol','piedra','andres','felipe']#creamos una lista con elementos
print('La longitud de lista es {}'.format(len(lista))) #el metodo 'len(nombre_de_la_lista)'  nos retorna cuantos elementos hay en la lista
for i in range(len(lista)):#recorremos la lista por medio del for
    print(lista[i])#imprimimos cada dato de la lista

In [ ]:
list = [1,2,3,4,5]#creamos la lista
print(list)#imprimimos la lista
del list #por medio de el metodo 'del' eliminamos la lista y sus datos
list #ahora el programa toma a list como un metodo lista ya sin ningun relacionamiento con alguna variable o lista

[1, 2, 3, 4, 5]

list

In [ ]:
lista = ['casa','arbol','piedra','andres','felipe']#creamos una lista con elementos
list(map(len,lista))#por medio del metodo 'len' se realiza el conteo de cada elemento de la lista y con el 'map' transforma este iterable en una lista

[4, 5, 6, 6, 6]

In [ ]:
list(map(lambda x: x**2, range(10)))# este metodo incluye el metodo range explicado anteriormente y cada dato del 0-9 le saca su cuadrado y lo guarda en una lista //cabe recalcar que lambda permite que se puede hacer esta funcion

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
sorted([5,2,3,4,1])# es metodo 'sorted' ordena la lista de menor a mayor

[1, 2, 3, 4, 5]

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

In [ ]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

In [ ]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [ ]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

In [ ]:
apple.ceo = 'Tim Cook'
apple.ceo

In [ ]:
dir(apple)

In [ ]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [ ]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

Parte 4

In [ ]:
import numpy as np 
# Importamos NumPy, una libreria para computación científica en python, ofrece
# herramientas para trabajar con listas multidimensionales (matrices)

In [ ]:
n_list = [14, 83, 'Azul', True]
n_list = np.array(n_list)
print(n_list, type(n_list))
# Hemos creado una lista, luego de usar el comando np.array() el tipo de dato
# es ndarray el cual representa una lista multidimensional

['14' '83' 'Azul' 'True'] <class 'numpy.ndarray'>

In [ ]:
n_list = [14, 83, 'Azul', True]
n_list = np.array(n_list)
print(n_list, type(n_list))
# Hemos creado una lista, luego de usar el comando np.array() el tipo de dato
# es ndarray el cual representa una lista multidimensional

['14' '83' 'Azul' 'True'] <class 'numpy.ndarray'>

In [ ]:
# Algunos métodos que tiene NumPy son: mean, std, sum, max, log
num_array = [17,25,32,41,59,28,36,43]
print(np.mean(num_array))
print(np.std(num_array))
print(np.sum(num_array))
print(np.max(num_array))
print(np.log(num_array))

35.125
12.035754027064527
281
59
[2.83321334 3.21887582 3.4657359  3.71357207 4.07753744 3.33220451
 3.58351894 3.76120012]

In [ ]:
# Pandas
import pandas as pd

In [ ]:
vals = [453, 349, 54]
# Creamos un array de valores numéricos
serie = pd.Series(vals)
# Lo convertimos en una serie para poder usar los métodos de pandas
print(serie)
# Podemos modificar el index de nuestra serie ya existente
serie.index = ['a','b','c']
print(serie)
# Una serie puede usar la lógica del sliced
print(serie[:2])
# También podemos actualizar los valores de una serie, deben ser del mismo tipo
# de dato
serie[0] = 12

0    453
1    349
2     54
dtype: int64
a    453
b    349
c     54
dtype: int64
a    453
b    349
dtype: int64

In [ ]:
# Una serie puede tener el atributo nombre
serie = pd.Series(vals, name ='Estado de cuenta mensual')
print(serie)
# Con describe podemos obtener los datos estadísticos de nuestra serie
print(serie.describe())

0    453
1    349
2     54
Name: Estado de cuenta mensual, dtype: int64
count      3.000000
mean     285.333333
std      206.979065
min       54.000000
25%      201.500000
50%      349.000000
75%      401.000000
max      453.000000
Name: Estado de cuenta mensual, dtype: float64

In [ ]:
vals_index = pd.date_range('2022-03-14', periods = len(vals), freq = 'M')
# Con la función pd.date_range() hemos creado los índices de nuestra serie 
# tomando fechas que aumentan mensualmente
serie.index = vals_index
print(serie)

2022-03-31    453
2022-04-30    349
2022-05-31     54
Freq: M, Name: Estado de cuenta mensual, dtype: int64

In [ ]:
print(serie.iloc[2])
# Ya que muchas veces nuestro index es algo complejo, con .iloc podemos acceder 
# a los valores que queramos siguiendo la lógica del index
print(serie[serie < np.mean(serie)])
# las series permiten añadir condiciones para clasificar datos

Parte 5

In [ ]:
!pip install yfinance
#Instalamos la libreria

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.70)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.8.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)

In [ ]:
import yfinance as yf

rui = yf.Ticker("RUI") #Llamamos la informacion de Russell 1000 Index 

# get stock info
print(rui.info)

# get historical market data
rui_table = rui.history(start="2015-01-01",  end="2016-12-31") # buscamos el historial de Russell 1000 Index durante 2015 y 2016
rui_table

{'regularMarketPrice': None, 'preMarketPrice': None, 'logo_url': ''}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2015-01-02,0.01244,0.01244,0.01244,0.01244,0,0,0
2015-01-05,0.01244,0.01244,0.01244,0.01244,0,0,0
2015-01-06,0.01244,0.01244,0.01244,0.01244,0,0,0
2015-01-07,0.01244,0.01244,0.01244,0.01244,0,0,0
2015-01-08,0.01244,0.01244,0.01244,0.01244,0,0,0
...,...,...,...,...,...,...,...
2016-12-23,0.03300,0.03300,0.03300,0.03300,0,0,0
2016-12-27,0.03800,0.03800,0.03800,0.03800,0,0,0
2016-12-28,0.03400,0.03400,0.03400,0.03400,0,0,0
2016-12-29,0.03400,0.03400,0.03400,0.03400,0,0,0
2016-12-30,0.03400,0.03400,0.03400,0.03400,0,0,0

In [ ]:
rui = rui_table['Close']['2016'] #tomamos unicamente las cifras del año 2016 que tuvo RUI
print(rui)

Date
2016-01-11    0.023
2016-01-12    0.023
2016-01-13    0.024
2016-01-14    0.023
2016-01-15    0.023
              ...
2016-12-23    0.033
2016-12-27    0.038
2016-12-28    0.034
2016-12-29    0.034
2016-12-30    0.034
Name: Close, Length: 141, dtype: float64

In [ ]:
print(rui['2016-4'])# pedimos que nos muestre los valores que obvtuvo RUI en el mes de abril

Date
2016-04-04    0.028
2016-04-05    0.028
2016-04-06    0.028
2016-04-07    0.028
2016-04-08    0.027
2016-04-11    0.027
2016-04-12    0.028
2016-04-13    0.028
2016-04-14    0.028
2016-04-15    0.030
2016-04-18    0.030
2016-04-19    0.030
2016-04-20    0.027
2016-04-21    0.027
2016-04-22    0.027
2016-04-25    0.031
2016-04-26    0.027
2016-04-27    0.027
2016-04-28    0.026
2016-04-29    0.026
Name: Close, dtype: float64

In [ ]:
rui['2016-2':'2017-4'] # tambien le podemos pedir un intervalo de meses de los valores de RUI durante estos

Date
2016-02-01    0.023
2016-02-02    0.015
2016-02-03    0.022
2016-02-04    0.023
2016-02-05    0.022
              ...
2016-12-23    0.033
2016-12-27    0.038
2016-12-28    0.034
2016-12-29    0.034
2016-12-30    0.034
Name: Close, Length: 127, dtype: float64

In [ ]:
print(rui.head(3)) # con '.head(x)' le pedimos x valores iniciales del resgistro que estemos manejando // en este caso del año 2016
print(rui.tail(15))# con '.tail(x)' le pedimos x valores finales del resgistro que estemos manejando // en este caso del año 2016

Date
2016-01-11    0.023
2016-01-12    0.023
2016-01-13    0.024
Name: Close, dtype: float64
Date
2016-11-10    0.036
2016-11-11    0.036
2016-11-14    0.036
2016-12-14    0.035
2016-12-15    0.035
2016-12-16    0.035
2016-12-19    0.027
2016-12-20    0.027
2016-12-21    0.027
2016-12-22    0.030
2016-12-23    0.033
2016-12-27    0.038
2016-12-28    0.034
2016-12-29    0.034
2016-12-30    0.034
Name: Close, dtype: float64

In [ ]:
mensual = rui.resample('M').mean() #Por medio de la sentencia '.resample('M')' llammamos a los valores mensuales que tuvo el RUI // el 'M' es la frecuencia la cual referencia mensualmente// y el '.mean()' saca la media de estos valores que vemos impresos en consola
print(mensual)

Date
2016-01-31     4.889357
2016-02-29     0.022150
2016-03-31     0.024400
2016-04-30     0.027900
2016-05-31     0.025154
2016-06-30     0.025500
2016-07-31    18.034499
2016-08-31     0.029600
2016-09-30     4.329474
2016-10-31     0.035000
2016-11-30     0.035750
2016-12-31     0.032417
Freq: M, Name: Close, dtype: float64

In [ ]:
semanal = rui.resample('W').mean() #Por medio de la sentencia '.resample('W')' llammamos a los valores semanalmente que tuvo el RUI // el 'W' es la frecuencia la cual referencia Semanalmente// y el '.mean()' saca la media de estos valores que vemos impresos en consola
print(semanal) # verifica que se realice de manera correcta por medio de la impresion

Date
2016-01-17     0.023200
2016-01-24     0.022000
2016-01-31    13.649400
2016-02-07     0.021000
2016-02-14     0.022000
2016-02-21     0.022500
2016-02-28     0.023000
2016-03-06     0.023400
2016-03-13     0.024400
2016-03-20          NaN
2016-03-27     0.028000
2016-04-03          NaN
2016-04-10     0.027800
2016-04-17     0.028200
2016-04-24     0.028200
2016-05-01     0.027400
2016-05-08     0.025400
2016-05-15     0.025000
2016-05-22          NaN
2016-05-29     0.025000
2016-06-05     0.023500
2016-06-12     0.025000
2016-06-19     0.026400
2016-06-26     0.026600
2016-07-03          NaN
2016-07-10          NaN
2016-07-17          NaN
2016-07-24     0.026000
2016-07-31    72.059998
2016-08-07     0.023000
2016-08-14          NaN
2016-08-21     0.030000
2016-08-28     0.031667
2016-09-04          NaN
2016-09-11     0.030750
2016-09-18     0.031400
2016-09-25     0.031400
2016-10-02    16.364599
2016-10-09          NaN
2016-10-16     0.035000
2016-10-23          NaN
2016-10-30          NaN
2016-11-06          NaN
2016-11-13     0.035667
2016-11-20     0.036000
2016-11-27          NaN
2016-12-04          NaN
2016-12-11          NaN
2016-12-18     0.035000
2016-12-25     0.028800
2017-01-01     0.035000
Freq: W-SUN, Name: Close, dtype: float64

In [ ]:
rui.resample('M').max() # En este caso con el '.max' recolectamos el valor mas alto de cada mes durante el periodo que estemos manejando en este caso 2016

Date
2016-01-31    68.180000
2016-02-29     0.023000
2016-03-31     0.028000
2016-04-30     0.031000
2016-05-31     0.026000
2016-06-30     0.029000
2016-07-31    72.059998
2016-08-31     0.032000
2016-09-30    81.699997
2016-10-31     0.035000
2016-11-30     0.036000
2016-12-31     0.038000
Freq: M, Name: Close, dtype: float64

In [ ]:
std = rui.resample('A').std() #calcula la desvicion estandar que existio durante el año las acciones RUI
max = rui.resample('A').max() #calcula el valor maximo que obtuvo durante el año las acciones RUI
min = rui.resample('A').min() #Calcula el valor mas bajo que obtuvieron las acciones RUI durante este año 2016


print(std)
print(max)
print(min)

Date
2016-12-31    10.742137
Freq: A-DEC, Name: Close, dtype: float64
Date
2016-12-31    81.699997
Freq: A-DEC, Name: Close, dtype: float64
Date
2016-12-31    0.01
Freq: A-DEC, Name: Close, dtype: float64

In [ ]:
ultimo_dia = rui.resample('M').agg(lambda x: x[-1]) #por medio de esta funcion recuperamos el ultimo valor que obtuvo la accion durante cada mes 
print(ultimo_dia)# verificamos que si este imprimiendo el ultimo valor del mes de manera correcta

Date
2016-01-31     0.023000
2016-02-29     0.023000
2016-03-31     0.028000
2016-04-30     0.026000
2016-05-31     0.025000
2016-06-30     0.027000
2016-07-31    72.059998
2016-08-31     0.032000
2016-09-30     0.031000
2016-10-31     0.035000
2016-11-30     0.036000
2016-12-31     0.034000
Freq: M, Name: Close, dtype: float64

In [ ]:
retorno_mensual = rui.resample('M').agg(lambda x: x[-1]/x[0] - 1) #recolectamos los valores del primer dia del mes durante el periodo en que nos encontremos en este caso el 2016
print(retorno_mensual)#verificamos que estemos recolectando los datos de manera correcta
print(retorno_mensual.mean()) #verificamos la media de retorno mensual que obtiene la accion RUI
print(retorno_mensual.std()) #calculamos la desviacion  estandar que tiene el retorno mensual de la accion RUI
print(retorno_mensual.max()) #buscamos cual  fue el mes que mas tuvo retorno la moneda RUI

Date
2016-01-31       0.000000
2016-02-29       0.000000
2016-03-31       0.217391
2016-04-30      -0.071429
2016-05-31      -0.038462
2016-06-30       0.080000
2016-07-31    2770.538310
2016-08-31       0.391304
2016-09-30       0.000000
2016-10-31       0.000000
2016-11-30       0.028571
2016-12-31      -0.028571
Freq: M, Name: Close, dtype: float64
230.92642634104823
799.7703404499701
2770.5383104547977

In [ ]:
print(ultimo_dia.diff()) #este metodo '.diff()' calcula la suma de las diferencias del valor de cada accion  de dias  consecutivos que tuvo la accion durante el mes
print(ultimo_dia.pct_change()) #calcula el cambio porcentual que tuvo la accion durante el mes

Date
2016-01-31          NaN
2016-02-29     0.000000
2016-03-31     0.005000
2016-04-30    -0.002000
2016-05-31    -0.001000
2016-06-30     0.002000
2016-07-31    72.032998
2016-08-31   -72.027998
2016-09-30    -0.001000
2016-10-31     0.004000
2016-11-30     0.001000
2016-12-31    -0.002000
Freq: M, Name: Close, dtype: float64
Date
2016-01-31            NaN
2016-02-29       0.000000
2016-03-31       0.217391
2016-04-30      -0.071429
2016-05-31      -0.038462
2016-06-30       0.080000
2016-07-31    2667.888729
2016-08-31      -0.999556
2016-09-30      -0.031250
2016-10-31       0.129032
2016-11-30       0.028571
2016-12-31      -0.055555
Freq: M, Name: Close, dtype: float64

In [ ]:
retorno_diario = ultimo_dia.pct_change()
print(retorno_diario.fillna(0)) #Reemplaza el NaN por 0.0 para entender mejor los retornos diaros que obtuvo la accion

Date
2016-01-31       0.000000
2016-02-29       0.000000
2016-03-31       0.217391
2016-04-30      -0.071429
2016-05-31      -0.038462
2016-06-30       0.080000
2016-07-31    2667.888729
2016-08-31      -0.999556
2016-09-30      -0.031250
2016-10-31       0.129032
2016-11-30       0.028571
2016-12-31      -0.055555
Freq: M, Name: Close, dtype: float64

In [ ]:
retorno_diario = ultimo_dia.pct_change()
retorno_diario.dropna() #Elimina del registro los valores que vengan NaN o sin retorno diario

Date
2016-02-29       0.000000
2016-03-31       0.217391
2016-04-30      -0.071429
2016-05-31      -0.038462
2016-06-30       0.080000
2016-07-31    2667.888729
2016-08-31      -0.999556
2016-09-30      -0.031250
2016-10-31       0.129032
2016-11-30       0.028571
2016-12-31      -0.055555
Freq: M, Name: Close, dtype: float64

Data frames

In [ ]:
import pandas as pd

dict = {'COMP': [155.58, 153.67, 152.36, 152.94, 153.49],'NDX':[898.7, 911.71, 906.69, 918.59, 926.99],
        'RUI':[143.5, 144.09, 142.73, 144.18, 143.77]}#creamos un diccionario con los valores de las acciones colocando como llave el nombre de las acciones
data_index = pd.date_range('2016-02-20',periods = 5, freq = 'W')#colocamos los rangos con el cual queremos que estas acciones queden en este caso desde el 2016-02-20 con una frecuencia semanal
df = pd.DataFrame(dict, index = data_index) #tabula la informacion en una tabla
print(df)

              COMP     NDX     RUI
2016-02-21  155.58  898.70  143.50
2016-02-28  153.67  911.71  144.09
2016-03-06  152.36  906.69  142.73
2016-03-13  152.94  918.59  144.18
2016-03-20  153.49  926.99  143.77

In [ ]:
df = rui_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2016-12-23    0.033
2016-12-27    0.038
2016-12-28    0.034
2016-12-29    0.034
2016-12-30    0.034
Name: Close, dtype: float64
Date
2016-12-23    0
2016-12-27    0
2016-12-28    0
2016-12-29    0
2016-12-30    0
Name: Volume, dtype: int64

In [ ]:
rui_2016 = df['2016']#referenciamos el año en en cual nos queremos ubicar
rui_month = rui_2016.resample('M').agg(lambda x: x[-1]) #obtenemos los valores con una frecuencia mensual 'M' basandonos en el ultimo dia del mes 
print(rui_month) #verificamos que estemos capturando los valores deseados

                 Open       High        Low      Close  Volume  Dividends  \
Date
2016-01-31   0.023000   0.023000   0.023000   0.023000       0          0
2016-02-29   0.023000   0.023000   0.023000   0.023000       0          0
2016-03-31   0.028000   0.028000   0.028000   0.028000       0          0
2016-04-30   0.026000   0.026000   0.026000   0.026000       0          0
2016-05-31   0.025000   0.025000   0.025000   0.025000       0          0
2016-06-30   0.027000   0.027000   0.027000   0.027000       0          0
2016-07-31  71.160004  72.290001  70.730003  72.059998   24217          0
2016-08-31   0.032000   0.032000   0.032000   0.032000       0          0
2016-09-30   0.031000   0.031000   0.031000   0.031000       0          0
2016-10-31   0.035000   0.035000   0.035000   0.035000       0          0
2016-11-30   0.036000   0.036000   0.036000   0.036000       0          0
2016-12-31   0.034000   0.034000   0.034000   0.034000       0          0

            Stock Splits
Date
2016-01-31             0
2016-02-29             0
2016-03-31             0
2016-04-30             0
2016-05-31             0
2016-06-30             0
2016-07-31             0
2016-08-31             0
2016-09-30             0
2016-10-31             0
2016-11-30             0
2016-12-31             0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

In [ ]:
rui_bar = rui_month[['Open', 'High', 'Low', 'Close']] # podemos modidicar el nombre de las columnas de nuestra informacion 
print(rui_bar)

                 Open       High        Low      Close
Date
2016-01-31   0.023000   0.023000   0.023000   0.023000
2016-02-29   0.023000   0.023000   0.023000   0.023000
2016-03-31   0.028000   0.028000   0.028000   0.028000
2016-04-30   0.026000   0.026000   0.026000   0.026000
2016-05-31   0.025000   0.025000   0.025000   0.025000
2016-06-30   0.027000   0.027000   0.027000   0.027000
2016-07-31  71.160004  72.290001  70.730003  72.059998
2016-08-31   0.032000   0.032000   0.032000   0.032000
2016-09-30   0.031000   0.031000   0.031000   0.031000
2016-10-31   0.035000   0.035000   0.035000   0.035000
2016-11-30   0.036000   0.036000   0.036000   0.036000
2016-12-31   0.034000   0.034000   0.034000   0.034000

In [ ]:
print(rui_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])# tambien podemos especificar los intervalos de tiempo en los cuales queremos obtener esta informacion y sus respectivos nombres de la columna para  tener mayor claridad

             Open   High    Low  Close
Date
2016-03-31  0.028  0.028  0.028  0.028
2016-04-30  0.026  0.026  0.026  0.026
2016-05-31  0.025  0.025  0.025  0.025
2016-06-30  0.027  0.027  0.027  0.027

In [ ]:
import numpy as np

above = rui_bar[rui_bar.Close <= np.std(rui_bar.Close)] # entre corchetes podemos realizar operaciones logicas para asi obtener un subconjunto de informacio que pueda ser relevante para nosotros
print(above)

             Open   High    Low  Close
Date
2016-01-31  0.023  0.023  0.023  0.023
2016-02-29  0.023  0.023  0.023  0.023
2016-03-31  0.028  0.028  0.028  0.028
2016-04-30  0.026  0.026  0.026  0.026
2016-05-31  0.025  0.025  0.025  0.025
2016-06-30  0.027  0.027  0.027  0.027
2016-08-31  0.032  0.032  0.032  0.032
2016-09-30  0.031  0.031  0.031  0.031
2016-10-31  0.035  0.035  0.035  0.035
2016-11-30  0.036  0.036  0.036  0.036
2016-12-31  0.034  0.034  0.034  0.034

In [ ]:
rui_bar['retorno'] = rui_bar.Close.pct_change() #Añadimos una nueva columna llamada retorno en el cual agregamos el retorno mensual de la accion , como lo haciamos de la misma manera que en la introduccion a data frame
print(rui_bar)

                 Open       High        Low      Close      retorno
Date
2016-01-31   0.023000   0.023000   0.023000   0.023000          NaN
2016-02-29   0.023000   0.023000   0.023000   0.023000     0.000000
2016-03-31   0.028000   0.028000   0.028000   0.028000     0.217391
2016-04-30   0.026000   0.026000   0.026000   0.026000    -0.071429
2016-05-31   0.025000   0.025000   0.025000   0.025000    -0.038462
2016-06-30   0.027000   0.027000   0.027000   0.027000     0.080000
2016-07-31  71.160004  72.290001  70.730003  72.059998  2667.888729
2016-08-31   0.032000   0.032000   0.032000   0.032000    -0.999556
2016-09-30   0.031000   0.031000   0.031000   0.031000    -0.031250
2016-10-31   0.035000   0.035000   0.035000   0.035000     0.129032
2016-11-30   0.036000   0.036000   0.036000   0.036000     0.028571
2016-12-31   0.034000   0.034000   0.034000   0.034000    -0.055555

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
missing = rui_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())
#por medio de esta funcionalidad podemos verificar de manera mas sencilla donde encontramos un retorno de inversion NaN en la tabla

             Open   High    Low  Close  retorno
Date
2016-01-31  False  False  False  False     True
2016-02-29  False  False  False  False    False
2016-03-31  False  False  False  False    False
2016-04-30  False  False  False  False    False
2016-05-31  False  False  False  False    False
2016-06-30  False  False  False  False    False
2016-07-31  False  False  False  False    False
2016-08-31  False  False  False  False    False
2016-09-30  False  False  False  False    False
2016-10-31  False  False  False  False    False
2016-11-30  False  False  False  False    False
2016-12-31  False  False  False  False    False
---------------------------------------------
         Open   High    Low  Close retorno
count      12     12     12     12      12
unique      1      1      1      1       2
top     False  False  False  False   False
freq       12     12     12     12      11

In [ ]:
print(missing[missing.retorno == True])# nos dice por medio de un booleano si existe en la columna un NaN

             Open   High    Low  Close  retorno
Date
2016-01-31  False  False  False  False     True

In [ ]:
drop = rui_bar.dropna() #si encuentra un NaN en retorno borra la fila o en este caso el mes
print(drop)
print('\n--------------------------------------------------\n')
fill = rui_bar.fillna(0) # si encuentra un NaN lo reemplaza por una serie de 0's
print(fill)

                 Open       High        Low      Close      retorno
Date
2016-02-29   0.023000   0.023000   0.023000   0.023000     0.000000
2016-03-31   0.028000   0.028000   0.028000   0.028000     0.217391
2016-04-30   0.026000   0.026000   0.026000   0.026000    -0.071429
2016-05-31   0.025000   0.025000   0.025000   0.025000    -0.038462
2016-06-30   0.027000   0.027000   0.027000   0.027000     0.080000
2016-07-31  71.160004  72.290001  70.730003  72.059998  2667.888729
2016-08-31   0.032000   0.032000   0.032000   0.032000    -0.999556
2016-09-30   0.031000   0.031000   0.031000   0.031000    -0.031250
2016-10-31   0.035000   0.035000   0.035000   0.035000     0.129032
2016-11-30   0.036000   0.036000   0.036000   0.036000     0.028571
2016-12-31   0.034000   0.034000   0.034000   0.034000    -0.055555

--------------------------------------------------

                 Open       High        Low      Close      retorno
Date
2016-01-31   0.023000   0.023000   0.023000   0.023000     0.000000
2016-02-29   0.023000   0.023000   0.023000   0.023000     0.000000
2016-03-31   0.028000   0.028000   0.028000   0.028000     0.217391
2016-04-30   0.026000   0.026000   0.026000   0.026000    -0.071429
2016-05-31   0.025000   0.025000   0.025000   0.025000    -0.038462
2016-06-30   0.027000   0.027000   0.027000   0.027000     0.080000
2016-07-31  71.160004  72.290001  70.730003  72.059998  2667.888729
2016-08-31   0.032000   0.032000   0.032000   0.032000    -0.999556
2016-09-30   0.031000   0.031000   0.031000   0.031000    -0.031250
2016-10-31   0.035000   0.035000   0.035000   0.035000     0.129032
2016-11-30   0.036000   0.036000   0.036000   0.036000     0.028571
2016-12-31   0.034000   0.034000   0.034000   0.034000    -0.055555

In [ ]:
serie1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'RUI')#creamos la serie1 dando los valores de las acciones de RUI
serie2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'NDX')#creamos la serie1 dando los valores de las acciones de NDX
data_frame = pd.concat([serie1,serie2], axis = 1)#por medio de 'concat' tabula esta informacion de las series y con axis = 1 denotamos que seran filas
print(data_frame)

      RUI     NDX
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [ ]:
log_price = np.log(rui_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([rui_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31   -3.772261
2016-02-29   -3.772261
2016-03-31   -3.575551
2016-04-30   -3.649659
2016-05-31   -3.688879
2016-06-30   -3.611918
2016-07-31    4.277499
2016-08-31   -3.442019
2016-09-30   -3.473768
2016-10-31   -3.352407
2016-11-30   -3.324236
2016-12-31   -3.381395
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close      retorno  log_price
Date
2016-01-31   0.023000   0.023000   0.023000   0.023000          NaN  -3.772261
2016-02-29   0.023000   0.023000   0.023000   0.023000     0.000000  -3.772261
2016-03-31   0.028000   0.028000   0.028000   0.028000     0.217391  -3.575551
2016-04-30   0.026000   0.026000   0.026000   0.026000    -0.071429  -3.649659
2016-05-31   0.025000   0.025000   0.025000   0.025000    -0.038462  -3.688879
2016-06-30   0.027000   0.027000   0.027000   0.027000     0.080000  -3.611918
2016-07-31  71.160004  72.290001  70.730003  72.059998  2667.888729   4.277499
2016-08-31   0.032000   0.032000   0.032000   0.032000    -0.999556  -3.442019
2016-09-30   0.031000   0.031000   0.031000   0.031000    -0.031250  -3.473768
2016-10-31   0.035000   0.035000   0.035000   0.035000     0.129032  -3.352407
2016-11-30   0.036000   0.036000   0.036000   0.036000     0.028571  -3.324236
2016-12-31   0.034000   0.034000   0.034000   0.034000    -0.055555  -3.381395

In [ ]:
df_volume = rui_table.loc['2015-01':'2015-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])#en este metodo escogemos el periodo de tiempo por medio del formato ['año/mes/dia':'año,mes,dia'] // le colocamos el nombre a los comlumnas con el formato ['':''] // añadimos la frecuencia correspondiente con'.resample('frecuencia')// y la funcion para escoger el ultimo dia de cada mes con ayuda de lambda
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = rui_table.loc['2014-10':'2015-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])#en este metodo escogemos el periodo de tiempo por medio del formato ['año/mes/dia':'año,mes,dia'] // le colocamos el nombre a los comlumnas con el formato ['':''] // añadimos la frecuencia correspondiente con'.resample('frecuencia')// y la funcion para escoger el ultimo dia de cada mes con ayuda de lambda
print(df_2017)

            Volume  Stock Splits
Date
2015-01-31       0             0
2015-02-28       0             0
2015-03-31       0             0
2015-04-30       0             0

---------------------- separate line--------------------

               Open     High      Low    Close
Date
2015-01-31  0.01413  0.01413  0.01413  0.01413
2015-02-28  0.01753  0.01753  0.01753  0.01753
2015-03-31  0.01470  0.01470  0.01470  0.01470
2015-04-30  0.01696  0.01696  0.01696  0.01696

In [ ]:
concat = pd.concat([rui_bar, df_volume], axis = 1)# en este metodo por medio de .concat tabula la informacion seleccionada y axis le indica que la tabule en fila
print(concat)

                 Open       High        Low      Close      retorno  Volume  \
Date
2015-01-31        NaN        NaN        NaN        NaN          NaN     0.0
2015-02-28        NaN        NaN        NaN        NaN          NaN     0.0
2015-03-31        NaN        NaN        NaN        NaN          NaN     0.0
2015-04-30        NaN        NaN        NaN        NaN          NaN     0.0
2016-01-31   0.023000   0.023000   0.023000   0.023000          NaN     NaN
2016-02-29   0.023000   0.023000   0.023000   0.023000     0.000000     NaN
2016-03-31   0.028000   0.028000   0.028000   0.028000     0.217391     NaN
2016-04-30   0.026000   0.026000   0.026000   0.026000    -0.071429     NaN
2016-05-31   0.025000   0.025000   0.025000   0.025000    -0.038462     NaN
2016-06-30   0.027000   0.027000   0.027000   0.027000     0.080000     NaN
2016-07-31  71.160004  72.290001  70.730003  72.059998  2667.888729     NaN
2016-08-31   0.032000   0.032000   0.032000   0.032000    -0.999556     NaN
2016-09-30   0.031000   0.031000   0.031000   0.031000    -0.031250     NaN
2016-10-31   0.035000   0.035000   0.035000   0.035000     0.129032     NaN
2016-11-30   0.036000   0.036000   0.036000   0.036000     0.028571     NaN
2016-12-31   0.034000   0.034000   0.034000   0.034000    -0.055555     NaN

            Stock Splits
Date
2015-01-31           0.0
2015-02-28           0.0
2015-03-31           0.0
2015-04-30           0.0
2016-01-31           NaN
2016-02-29           NaN
2016-03-31           NaN
2016-04-30           NaN
2016-05-31           NaN
2016-06-30           NaN
2016-07-31           NaN
2016-08-31           NaN
2016-09-30           NaN
2016-10-31           NaN
2016-11-30           NaN
2016-12-31           NaN

In [ ]:
concat = pd.concat([rui_bar,df_volume],axis = 1, join = 'inner')#por medio de este metodo se concatena la informacion producto de el inner join que devuelve las  filas cuando hay al menos una coincidencia en ambas tablas (rui_bar y df_volume)
print(concat)

Empty DataFrame
Columns: [Open, High, Low, Close, retorno, Volume, Stock Splits]
Index: []

In [ ]:
append = rui_bar.append(df_2017)# en este metodo se agregan todos los registros de valores de las acciones RUI en 2017
print(append)

                 Open       High        Low      Close      retorno   Change
Date
2016-01-31   0.023000   0.023000   0.023000   0.023000          NaN      NaN
2016-02-29   0.023000   0.023000   0.023000   0.023000     0.000000      NaN
2016-03-31   0.028000   0.028000   0.028000   0.028000     0.217391      NaN
2016-04-30   0.026000   0.026000   0.026000   0.026000    -0.071429      NaN
2016-05-31   0.025000   0.025000   0.025000   0.025000    -0.038462      NaN
2016-06-30   0.027000   0.027000   0.027000   0.027000     0.080000      NaN
2016-07-31  71.160004  72.290001  70.730003  72.059998  2667.888729      NaN
2016-08-31   0.032000   0.032000   0.032000   0.032000    -0.999556      NaN
2016-09-30   0.031000   0.031000   0.031000   0.031000    -0.031250      NaN
2016-10-31   0.035000   0.035000   0.035000   0.035000     0.129032      NaN
2016-11-30   0.036000   0.036000   0.036000   0.036000     0.028571      NaN
2016-12-31   0.034000   0.034000   0.034000   0.034000    -0.055555      NaN
2015-01-31        NaN   0.014130   0.014130   0.014130          NaN  0.01413
2015-02-28        NaN   0.017530   0.017530   0.017530          NaN  0.01753
2015-03-31        NaN   0.014700   0.014700   0.014700          NaN  0.01470
2015-04-30        NaN   0.016960   0.016960   0.016960          NaN  0.01696

In [ ]:
concat = pd.concat([rui_bar, df_2017], axis = 0)#concatena en la tabla los valores de las acciones RUI_bar // el axis = 0 organiza de la fecha mas reciente a la mas antigua en las filas
print(concat)

                 Open       High        Low      Close      retorno
Date
2016-01-31   0.023000   0.023000   0.023000   0.023000          NaN
2016-02-29   0.023000   0.023000   0.023000   0.023000     0.000000
2016-03-31   0.028000   0.028000   0.028000   0.028000     0.217391
2016-04-30   0.026000   0.026000   0.026000   0.026000    -0.071429
2016-05-31   0.025000   0.025000   0.025000   0.025000    -0.038462
2016-06-30   0.027000   0.027000   0.027000   0.027000     0.080000
2016-07-31  71.160004  72.290001  70.730003  72.059998  2667.888729
2016-08-31   0.032000   0.032000   0.032000   0.032000    -0.999556
2016-09-30   0.031000   0.031000   0.031000   0.031000    -0.031250
2016-10-31   0.035000   0.035000   0.035000   0.035000     0.129032
2016-11-30   0.036000   0.036000   0.036000   0.036000     0.028571
2016-12-31   0.034000   0.034000   0.034000   0.034000    -0.055555
2015-01-31   0.014130   0.014130   0.014130   0.014130          NaN
2015-02-28   0.017530   0.017530   0.017530   0.017530          NaN
2015-03-31   0.014700   0.014700   0.014700   0.014700          NaN
2015-04-30   0.016960   0.016960   0.016960   0.016960          NaN

In [ ]:
df_2017.columns = ['Change', 'High','Low','Close']#este metodo declara el nombre de las variables que implementara
concat = pd.concat([rui_bar, df_2017], axis = 0)#concatena en la tabla los datos de rui_bar y df_2017 de fecha mas reciente a la mas antigua 
print(concat)

                 Open       High        Low      Close      retorno   Change
Date
2016-01-31   0.023000   0.023000   0.023000   0.023000          NaN      NaN
2016-02-29   0.023000   0.023000   0.023000   0.023000     0.000000      NaN
2016-03-31   0.028000   0.028000   0.028000   0.028000     0.217391      NaN
2016-04-30   0.026000   0.026000   0.026000   0.026000    -0.071429      NaN
2016-05-31   0.025000   0.025000   0.025000   0.025000    -0.038462      NaN
2016-06-30   0.027000   0.027000   0.027000   0.027000     0.080000      NaN
2016-07-31  71.160004  72.290001  70.730003  72.059998  2667.888729      NaN
2016-08-31   0.032000   0.032000   0.032000   0.032000    -0.999556      NaN
2016-09-30   0.031000   0.031000   0.031000   0.031000    -0.031250      NaN
2016-10-31   0.035000   0.035000   0.035000   0.035000     0.129032      NaN
2016-11-30   0.036000   0.036000   0.036000   0.036000     0.028571      NaN
2016-12-31   0.034000   0.034000   0.034000   0.034000    -0.055555      NaN
2015-01-31        NaN   0.014130   0.014130   0.014130          NaN  0.01413
2015-02-28        NaN   0.017530   0.017530   0.017530          NaN  0.01753
2015-03-31        NaN   0.014700   0.014700   0.014700          NaN  0.01470
2015-04-30        NaN   0.016960   0.016960   0.016960          NaN  0.01696